h1, h2, h3, h4, h5, h6, p, a, div, body {
  margin: 0px;
  padding: 0px;
  border: 0px; }

a {
  color: #3559a1;
  font-weight: 800;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif; }

a:hover {
  color: #ededed; }

nav {
  height: 100px;
  background-color: black; }
  nav p {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 500;
    color: white;
    font-size: 50px; }

header {
  height: 350px;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0px;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../images/butterfly.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.logo img {
  display: block;
  padding: 8% 20%;
  margin: 0 auto;
  width: 60%; }

.mobilelogo img {
  display: none; }

.firstsection {
  position: relative; }
  .firstsection h1 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 900;
    font-size: 100px;
    text-transform: uppercase;
    padding-top: 2%; }
  .firstsection h2 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%; }
  .firstsection .container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto; }
  .firstsection .flex-item {
    display: block;
    height: 400px;
    width: 270px;
    border: 3px #dbdbdb solid;
    margin: auto; }
    .firstsection .flex-item .icon {
      text-align: center; }
      .firstsection .flex-item .icon i {
        padding-top: 25%; }
    .firstsection .flex-item p {
      text-align: center;
      padding-top: 20%;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 35px; }
    .firstsection .flex-item div img {
      height: 50px;
      padding: 20% 40.5% 0 40.5%;
      -webkit-transition-duration: 1s;
      -moz-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-property: -webkit-transform;
      -moz-transition-property: -moz-transform;
      transition-property: transform; }
  .firstsection .flex-itemhover {
    display: hidden;
    height: 240px;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
    border-top: none;
    margin: auto;
    margin-top: 5px; }
    .firstsection .flex-itemhover p {
      text-align: center;
      padding: 15% 20%;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 500;
      font-size: 20px; }
  .firstsection .container2 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto; }

.quotebox {
  margin-top: 10%;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), url("../images/babysloth 2.jpg") no-repeat left;
  position: relative;
  height: 500px;
  width: 100%;
  overflow: hidden;
  z-index: -200; }
  .quotebox p {
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 900;
    font-size: 35px;
    padding: 2% 2%;
    padding-right: 53%;
    text-align: left;
    position: absolute; }

.minisloth {
  display: none; }

.secondsection h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 2%; }
.secondsection h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 1%;
  padding-bottom: 1%; }
.secondsection .container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 10%; }
  .secondsection .container .flex-item {
    width: 400px;
    border: 3px #dbdbdb solid;
    margin: auto;
    margin-top: -15;
    display: block;
    height: 140px;
    width: 270px; }
    .secondsection .container .flex-item .supportdescript {
      font-weight: 400;
      font-size: 18px;
      text-align: left;
      line-height: 1.8;
      display: hidden;
      width: 100%;
      background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
      border-top: none;
      margin: auto; }
  .secondsection .container p {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 900;
    font-size: 35px;
    text-align: center;
    padding-top: 10%; }
  .secondsection .container div img {
    height: 50px;
    padding: 8% 40.5% 0 40.5%;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform; }

.photobottom {
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), url("../images/ferns.jpg") no-repeat center;
  position: relative;
  height: 425px;
  width: 100%;
  overflow: hidden;
  z-index: -200; }

footer {
  height: 100px;
  background-color: black; }

@media (min-width: 768px) and (max-width: 1024px) {
  header .logo img {
    padding: 0;
    padding-top: 10%;
    width: 80%; }

  .firstsection h1 {
    text-align: center; }

  .firstsection .flex-item div img {
    height: 50px;
    padding: 2% 40%; }

  .firstsection .flex-item {
    height: 300px; }

  .firstsection .flex-item .icon i {
    padding-top: 10%;
    padding-bottom: 0px; }

  .firstsection .container {
    width: 100%; }

  .quotebox {
    background: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), url("../images/babysloth 2.jpg") no-repeat right; }
    .quotebox p {
      color: white;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 900;
      font-size: 35px;
      padding: 1% 1%;
      text-align: left;
      position: absolute; }

  .secondsection .container {
    width: 100%;
    justify-content: space-around; }

  .secondsection .container div img {
    height: 50px;
    padding: 2% 40% 0 40%; }

  .secondsection .container p {
    padding-top: 10%; }

  .secondsection .container .flex-item {
    height: 135px; } }
@media (max-width: 767px) {
  header {
    height: 150px; }
    header .logo img {
      display: none; }
    header .mobilelogo img {
      display: block;
      width: 90%;
      padding: 5%; }

  .firstsection .flex-item {
    margin: 20px; }

  .firstsection h1 {
    font-size: 60px;
    padding-bottom: 10%;
    text-align: center; }
  .firstsection .container {
    flex-wrap: wrap; }
    .firstsection .container .flex-itemhover {
      display: hidden;
      height: 200px;
      width: 100%;
      position: relative;
      margin: auto;
      background-color: white;
      margin-top: 5px; }

  .firstsection .flex-item {
    height: 250px; }

  .firstsection .flex-item .icon i {
    padding-top: 6%; }

  .firstsection .flex-item p {
    padding-top: 0; }

  .firstsection .flex-item div img {
    height: 50px;
    padding: 2% 40.5%; }

  .secondsection .container div img {
    padding: 0 40.5%; }

  .secondsection .container p {
    padding-top: 2%;
    padding-bottom: 0; }

  .secondsection .container .flex-item {
    margin-top: 30px;
    height: 100px; }

  .minisloth {
    display: block;
    height: 70px;
    padding: 10% 40%; }

  .secondsection .container {
    flex-wrap: wrap;
    width: 80%; }

  .secondsection .container .flex-item {
    width: 100%; }

  .secondsection .container .flex-item .supportdescript {
    background: linear-gradient(white, white);
    border-top: none;
    background: white;
    position: relative;
    z-index: 1000;
    width: 90%;
    font-weight: 500; }

  .quotebox {
    display: none; } }

/*# sourceMappingURL=style.css.map */
