h1, h2, h3, h4, h5, h6, p, a, div, body {
  margin: 0px;
  padding: 0px;
  border: 0px; }

nav {
  height: 100px;
  background-color: black; }
  nav p {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 500;
    color: white;
    font-size: 50px; }

header {
  height: 350px;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0px;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../images/butterfly.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.logo img {
  display: block;
  padding: 8% 20%;
  margin: 0 auto; }

.firstsection {
  position: relative; }
  .firstsection h1 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 900;
    font-size: 115px;
    text-transform: uppercase;
    padding-top: 2%; }
  .firstsection h2 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%; }
  .firstsection .container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto; }
  .firstsection .flex-item {
    display: block;
    height: 400px;
    width: 270px;
    border: 3px #dbdbdb solid;
    margin: auto; }
    .firstsection .flex-item .icon {
      text-align: center; }
      .firstsection .flex-item .icon i {
        padding-top: 25%; }
    .firstsection .flex-item p {
      text-align: center;
      padding-top: 20%;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 35px; }
    .firstsection .flex-item div img {
      height: 45px;
      padding: 12% 42%;
      -webkit-transition-duration: 1s;
      -moz-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-property: -webkit-transform;
      -moz-transition-property: -moz-transform;
      transition-property: transform; }
  .firstsection .flex-itemhover {
    display: hidden;
    height: 240px;
    width: 270px;
    border: 3px #dbdbdb solid;
    background-color: white;
    border-top: none;
    margin: auto; }
    .firstsection .flex-itemhover p {
      text-align: center;
      padding: 15% 20%;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 300;
      font-size: 20px; }
  .firstsection .container2 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto; }

.quotebox {
  margin-top: 7%;
  width: 100%;
  position: relative;
  height: 500px;
  width: 100%;
  overflow: hidden;
  z-index: -200; }
  .quotebox video {
    position: absolute;
    z-index: -100;
    min-height: 100%;
    min-width: 100%;
    margin: 0; }
  .quotebox p {
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    padding: 8%;
    padding-left: 12%;
    position: absolute; }

.secondsection h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 2%; }
.secondsection h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 1%;
  padding-bottom: 4%; }
.secondsection .container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 10%; }
  .secondsection .container .flex-item {
    width: 300px;
    border: 3px #dbdbdb solid;
    margin: auto; }
    .secondsection .container .flex-item p {
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 900;
      font-size: 35px;
      text-align: center;
      padding: 4%; }
    .secondsection .container .flex-item div img {
      height: 30px;
      padding: 5% 45%; }

footer {
  height: 100px;
  background-color: black; }

/*# sourceMappingURL=style.css.map */
