

// VARIABLES
$font: 'Source Sans Pro', sans-serif;


// PRE-CODE FIXES
h1, h2, h3, h4, h5, h6, p, a, div, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}


//NAV BAR SETTING GENERAL HEIGHT AND TESTING OUT FONT BEFORE CHAS SENDS TEMPLATE
nav {
  height: 100px;
  background-color: black;
    p {
      font-family: $font;
      font-weight: 500;
      color: white;
      font-size: 50px;
    }
}

// HEADER WITH HERO IMAGE, INCLUDING BACKGROUND,OVERLAY, AND LOGO
header {
  height: 350px;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0px;
  background:
    linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url("../images/butterfly.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center;
    }
  .logo img{
    display: block;
    padding: 8% 20%;
    margin: 0 auto;
  }

// MIDDLE SEGMENT WITH DROP-DOWNS
  .firstsection {
    position: relative;

    h1 {
      font-family: $font;
      font-weight: 900;
      font-size: 115px;
      text-transform: uppercase;
      padding-top: 2%;
    }

    h2{
      font-family: $font;
      font-weight: 700;
      font-size: 35px;
      text-transform: uppercase;
      text-align: center;
      padding-top: 4%;
      padding-bottom: 4%;
    }

    .container {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      width: 80%;
      margin: 0 auto;
     }

     .flex-item {
       display: block;
       height: 400px;
       width: 270px;
       border: 3px #dbdbdb solid;
       margin: auto;

         .icon {
           text-align: center;
           i {
             padding-top: 25%;
           }
        }

        p {
          text-align: center;
          padding-top: 20%;
          font-family: $font;
          font-size: 35px;
        }
        div img {
          height: 45px;
          padding: 12% 42%;
          -webkit-transition-duration: 1s;
          -moz-transition-duration: 1s;
          transition-duration: 1s;
          -webkit-transition-property: -webkit-transform;
          -moz-transition-property: -moz-transform;
          transition-property: transform;
        }
     }

     .flex-itemhover {
       display: hidden;
       height: 240px;
       width: 270px;
       border: 3px #dbdbdb solid;
       background-color: white;
       border-top: none;
       margin: auto;

        p {
          text-align: center;
          padding: 15% 20%;
          font-family: $font;
          font-weight: 300;
          font-size: 20px;
        }

      }

     .container2 {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       flex-direction: row;
       flex-wrap: nowrap;
       justify-content: center;
       align-items: center;
       width: 80%;
       margin: 0 auto;
      }
  }


  // QUOTE BOX DIV

  .quotebox {
    margin-top: 7%;
    width: 100%;
    // background:
    //   linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)),
    //   url("../images/jexkw2hr1su-julia-caesar.jpg") no-repeat center;
    position: relative;
    height: 500px;
    width: 100%;
    overflow: hidden;
    z-index: -200;



    video {
      position: absolute;
      z-index: -100;
      min-height: 100%;
      min-width: 100%;
      margin: 0;

    }

    p {
      color: white;
      font-family: $font;
      font-weight: 900;
      font-size: 60px;
      text-align: center;
      padding: 8%;
      padding-left: 12%;
      position: absolute;
    }
  }

.secondsection {
  h2{
    font-family: $font;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 2%;
  }

  h3 {
    font-family: $font;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 1%;
    padding-bottom: 4%;
  }

  .container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 10%;

    .flex-item {
      width: 300px;
      border: 3px #dbdbdb solid;
      margin: auto;

      p{
        font-family: $font;
        font-weight: 900;
        font-size: 35px;
        text-align: center;
        padding: 4%;
      }
      div img {
        height: 30px;
        padding: 5% 45%;
      }
    }
  }
}

  footer {
    height: 100px;
    background-color: black;
  }
