

// VARIABLES
$font: 'Source Sans Pro', sans-serif;
$linkcolor: #3559a1;


// PRE-CODE FIXES
h1, h2, h3, h4, h5, h6, p, a, div, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

// LINK STYLING
a {
  color: $linkcolor;
  font-weight: 800;
  text-decoration: none;
  font-family: $font;
}

a:hover {
  color: #ededed;
}

//NAV BAR SETTING GENERAL HEIGHT AND TESTING OUT FONT BEFORE CHAS SENDS TEMPLATE
nav {
  height: 100px;
  background-color: black;
    p {
      font-family: $font;
      font-weight: 500;
      color: white;
      font-size: 50px;
    }
}

// HEADER WITH HERO IMAGE, INCLUDING BACKGROUND,OVERLAY, AND LOGO
header {
  height: 350px;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0px;
  background:
    linear-gradient(rgba(white, 0.20), rgba(white, 0.20)),
    url("../images/butterfly.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center;
    }
  .logo img{
    display: block;
    padding: 8% 20%;
    margin: 0 auto;
    width: 60%;
  }
  .mobilelogo img {
    display: none;
  }
// MIDDLE SEGMENT WITH DROP-DOWNS
  .firstsection {
    position: relative;

    h1 {
      font-family: $font;
      font-weight: 900;
      font-size: 100px;
      text-transform: uppercase;
      padding-top: 2%;
    }

    h2{
      font-family: $font;
      font-weight: 700;
      font-size: 35px;
      text-transform: uppercase;
      text-align: center;
      padding-top: 4%;
      padding-bottom: 4%;
    }

    .container {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      width: 80%;
      margin: 0 auto;
     }

     .flex-item {
       display: block;
       height: 400px;
       width: 270px;
       border: 3px #dbdbdb solid;
       margin: auto;

         .icon {
           text-align: center;

// FONT AWESOME ICON
           i {
             padding-top: 25%;
           }
        }

        p {
          text-align: center;
          padding-top: 20%;
          font-family: $font;
          font-size: 35px;
        }
        div img {
          height: 50px;
          padding: 20% 40.5% 0 40.5%;
          -webkit-transition-duration: 1s;
          -moz-transition-duration: 1s;
          transition-duration: 1s;
          -webkit-transition-property: -webkit-transform;
          -moz-transition-property: -moz-transform;
          transition-property: transform;
        }
     }

     .flex-itemhover {
       display: hidden;
       height: 240px;
       width: 100%;
       background:
         linear-gradient(rgba(white, 0.90), rgba(white, 0.90)),;
       border-top: none;
       margin: auto;
       margin-top: 5px;


        p {
          text-align: center;
          padding: 15% 20%;
          font-family: $font;
          font-weight: 500;
          font-size: 20px;
        }

      }

     .container2 {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       flex-direction: row;
       flex-wrap: nowrap;
       justify-content: center;
       align-items: center;
      //  width: 80%;
       margin: 0 auto;
      }
  }


  // QUOTE BOX DIV

  .quotebox {
    margin-top: 10%;
    width: 100%;
    background:
      linear-gradient(rgba(white, 0.15), rgba(white, 0.15)),
      url("../images/babysloth 2.jpg") no-repeat left;
    position: relative;
    height: 500px;
    width: 100%;
    overflow: hidden;
    z-index: -200;


    p {
      color: white;
      font-family: $font;
      font-weight: 900;
      font-size: 35px;
      padding: 2% 2%;
      padding-right: 53%;
      text-align: left;
      position: absolute;
    }
  }

.minisloth {
  display: none;
}

// SECTION EXPLAINING HOW TO DONATE AS A STUDENT V. AN ADULT
.secondsection {


  h2{
    font-family: $font;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 2%;
  }

  h3 {
    font-family: $font;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 10%;


    .flex-item {
      width: 400px;
      border: 3px #dbdbdb solid;
      margin: auto;
      margin-top: -15;
      display: block;
      height: 140px;
      width: 270px;


          .supportdescript {
            font-weight: 400;
            font-size: 18px;
            text-align: left;
            line-height: 1.8;
            display: hidden;
            width: 100%;
            background:
              linear-gradient(rgba(white, 0.90), rgba(white, 0.90));
            border-top: none;
            margin: auto;

        }
      }

      p{
        font-family: $font;
        font-weight: 900;
        font-size: 35px;
        text-align: center;
        padding-top: 10%;
      }
        div img {
          height: 50px;
          padding: 8% 40.5% 0 40.5%;
          -webkit-transition-duration: 1s;
          -moz-transition-duration: 1s;
          transition-duration: 1s;
          -webkit-transition-property: -webkit-transform;
          -moz-transition-property: -moz-transform;
          transition-property: transform;
        }
      }
    }

// BOTTOM PHOTO SECTION, HELPS STUDENT AND ADULT DROPDOWNS NOT GO OFF PAGE
    .photobottom {
      width: 100%;
      background:
        linear-gradient(rgba(white, 0.15), rgba(white, 0.15)),
        url("../images/ferns.jpg") no-repeat center;
      position: relative;
      height: 425px;
      width: 100%;
      overflow: hidden;
      z-index: -200;
    }

  footer {
    height: 100px;
    background-color: black;
  }

@media (min-width: 768px) and (max-width: 1024px) {
  header .logo img {
    padding: 0;
    padding-top: 10%;
    width: 80%;
  }

  .firstsection h1 {
    text-align: center;
  }

  .firstsection .flex-item div img {
    height: 50px;
    padding: 2% 40%;
  }

  .firstsection .flex-item {
    height: 300px;
  }

  .firstsection .flex-item .icon i {
    padding-top: 10%;
    padding-bottom: 0px;
  }

  .firstsection .container {
    width: 100%;
  }

    .quotebox {
      background:
        linear-gradient(rgba(white, 0.15), rgba(white, 0.15)),
        url("../images/babysloth 2.jpg") no-repeat right;

      p {
        color: white;
        font-family: $font;
        font-weight: 900;
        font-size: 35px;
        padding: 1% 1%;
        text-align: left;
        position: absolute;
      }
    }
    .secondsection .container  {
      width: 100%;
      justify-content: space-around;
    }

  .secondsection .container div img {
    height: 50px;
    padding: 2% 40% 0 40%;
  }

  .secondsection .container p {
    padding-top: 10%;
  }

  .secondsection .container .flex-item {
    height: 135px;
  }
}







  @media (max-width:767px) {
    header {
      height: 150px;

      .logo img{
        display: none;
      }
      .mobilelogo img {
        display: block;
        width: 90%;
        padding: 5%;
      }
    }

    .firstsection .flex-item {
      margin: 20px;
    }

    .firstsection{
      h1 {
        font-size: 60px;
        padding-bottom: 10%;
        text-align: center;
      }
        .container {
          flex-wrap: wrap;

          .flex-itemhover {
            display: hidden;
            height: 200px;
            width: 100%;
            position: relative;
            margin: auto;
            background-color: white;
            margin-top: 5px;
      }
    }
  }
  .firstsection .flex-item {
    height: 250px;
  }

  .firstsection .flex-item .icon i {
    padding-top: 6%;
  }

  .firstsection .flex-item p {
    padding-top: 0;
  }

  .firstsection .flex-item div img {
    height: 50px;
    padding: 2% 40.5%;
  }



  .secondsection .container div img {
    padding: 0 40.5%;
  }

  .secondsection .container p {
    padding-top: 2%;
    padding-bottom: 0;
  }

  .secondsection .container .flex-item {
    margin-top: 30px;
    height: 100px;
  }

  .minisloth {
    display: block;
    height: 70px;
    padding: 10% 40%;
  }

    .secondsection .container{
      flex-wrap: wrap;
      width: 80%;
    }

    .secondsection .container .flex-item {
      width: 100%;
    }

    .secondsection .container .flex-item .supportdescript {
      background:
        linear-gradient(rgba(white, 1), rgba(white, 1));
      border-top: none;
      background: white;
      position: relative;
      z-index: 1000;
      width: 90%;
      font-weight: 500;
    }

    .quotebox {
        display: none;
      }
    }
